name: build n deloy

on:
  push:
    branches:
      - main

env:
  env_var: ${{ vars.ENV_CONTEXT_VAR }}

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 22
      - name: Install dependencies
        run: npm install
      - name: Run build
        env:
          VITE_MAPTILER_KEY: ${{ vars.VITE_MAPTILER_KEY }}
          VITE_PMTILES_URL: pmtiles://https://data.assemblageapps.com/bench_map/data.pmtiles
          VITE_METADATA_URL: https://data.assemblageapps.com/bench_map/metadata.json
          VITE_PARK_STATS_URL: https://data.assemblageapps.com/bench_map/park_stats.parquet
        run: npm run build

      - name: Configure AWS
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Copy files to S3
        run: aws s3 sync dist/ s3://arielsartistry.com/benches/

      - name: Invalidate Cloudfront
        run: aws cloudfront create-invalidation --distribution-id ${{ secrets.AWS_CLOUDFRONT_ID }} --paths '/benches/*'
